<li>
  {{burger_name}}
  {{#if devour}}
  <button type="button" class="btn-info change-devour" data-id="{{id}}" data-newdevour="{{devour}}">Devour it !</button>
  {{else}}
  <button type="button" class="btn-danger delete-burger" data-id="{{this.id}}">Dump it !</button>
  {{/if}}  
</li>